GreetingServiceConsoleClient/Connected Services/Greetings/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8089/Greetings/?xsd=xsd2" namespace="http://conestogac.on.ca/schemas/2023/09/greetings" />
  <xs:element name="Greet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://conestogac.on.ca/schemas/2023/09/greetings" minOccurs="0" name="greatingRequest" nillable="true" type="q1:GreetingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://conestogac.on.ca/schemas/2023/09/greetings" minOccurs="0" name="GreetResult" nillable="true" type="q2:GreetingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>